* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.story_container {
  max-width: 80rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.stories {
  max-width: 35rem;
  height: max-content;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.story_image {
  width: 100%;
  height: auto;
  background-size: contain;
  border-radius: 1rem;
}

.story_section {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: #37b2ff;
  margin-top: 0.5rem;
}

.story_title {
  margin: 0.7rem 0;
}

.story_abstract {
  margin: 0 0 0.7rem 0;
}

@media screen and (min-width: 768px) {
  .story_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .story_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
